<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title>Update Parcel</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm" style="background-color: maroon; color: white;">
  <a class="navbar-brand" href="#" style="color: white;">UPDATE PARCEL >> </a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/}" style="color: white;">Main Menu</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/logout}" style="color: white;">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container my-5">
  <h3> Update Parcel</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-8">
        <form action="#"
              th:action="@{/parcels/update/{id}(id=${parcel.parcelId})}"
              th:object="${parcel}" th:method="post">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="trackingNum" class="col-form-label">Tracking Number</label> <input
                    type="text" th:field="*{trackingNum}" class="form-control" id="trackingNum"
                    placeholder="Update the tracking number"> <span
                    th:if="${#fields.hasErrors('trackingNum')}" th:errors="*{trackingNum}"
                    class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
              <label for="dateIn" class="col-form-label">Date Received</label>
              <input type="text" th:field="*{dateIn}" class="form-control" id="dateIn"
                     th:value="${#dates.format(parcel.dateIn, 'yyyy-MM-dd')}"/>
              <span th:if="${#fields.hasErrors('dateIn')}" th:errors="*{dateIn}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOut" class="col-form-label">Date Out</label>
              <input type="text" th:field="*{dateOut}" class="form-control" id="dateOut"
                     th:value="${#dates.format(parcel.dateOut, 'yyyy-MM-dd')}"/>
              <span th:if="${#fields.hasErrors('dateOut')}" th:errors="*{dateOut}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="colour" class="col-form-label">Colour</label> <input
                    type="text" th:field="*{colour}" class="form-control" id="colour"
                    placeholder="Update the colour of parcel"> <span
                    th:if="${#fields.hasErrors('colour')}" th:errors="*{colour}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="student" class="col-form-label">Student Id</label> <input
                    type="text" th:field="*{student}" class="form-control" id="student"
                    placeholder="Update Student Id"> <span
                    th:if="${#fields.hasErrors('student')}" th:errors="*{student}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <input type="submit" class="btn btn-success"
                     value="Update Parcel">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
